// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }
@font-face {
    font-family: 'Petit Formal Script', cursive;
    src: url(~@/assets/fonts/PetitFormalScript-Regular.ttf);
}

@font-face {
    font-family: 'Caveat', cursive;
    src: url(~@/assets/fonts/Caveat-Regular.ttf);
}