.about {
    width: 70%;
    margin: 0 auto;
  }
  .about h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0;
  }
  
  .about p{
    font-size: 1.2rem;
    line-height: 2;
  }