.menu-bar {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 6px 0px;
    min-height: 9vh;
    line-height: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 9px #2e2e2e;
    // background: linear-gradient(top, rgb(71, 71, 71), #141414);
    background-color: #ebebeb;
  
  
  .nav-list{
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-list ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    list-style-type: none;
    
  }
  .nav-list ul li a {
    text-decoration: none;
    padding:0 40px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    
  }
}