.detailsPage {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }

  .imgs-gallery {
    max-width: 100%;
    display: grid;
    height: 50vh;
    gap: 10px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "a a b c"
      "a a d e";
    margin: 10px;
    margin-top: 20px;
    border: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    img{
        width: 100%;
        height: 100%;
    }
  }

  [data-i="0"] {
    grid-area: a;
  }
  [data-i="1"] {
    grid-area: b;
  }
  [data-i="2"] {
    grid-area: c;
  }
  [data-i="3"] {
    grid-area: d;
  }
  [data-i="4"] {
    grid-area: e;
  }

  .locationMap {
    width: 100%;
    margin-bottom: 20px;
  }
  .reviewArea {
    width: 100%;
    border: 1px solid black;
  }
  .priceDetails {
    width: 35%;
  }
  .description {
    width: 65%;
  }
  
  .dish {
    display: flex;
    justify-content: space-around;
  }
  
  h3, h2{
    text-align: center;
  }