.detailsPage {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    flex-direction: column;
    color: rgb(113, 113, 113);
}

.imgs-gallery {
    max-width: 100%;
    display: grid;
    height: 60vh;
    // gap: 10px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "a a b c""a a d e";
    margin-top: 2%;
    border: 0;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #d4d3d3;
    cursor: pointer;
    img {
        width: 96%;
        height: 95%;
        margin: 0 auto;
        object-fit: cover;
    }
}

.mealDetails {
    width: 100%;
    float: left !important;
    padding: 10px;
    padding-top: 0;
    align-items: flex-end;
    align-content: flex-end;
    padding-left: 0.5%;
    h1 {
        font-size: 1.5rem;
        margin: 30px 0;
        margin-right: 20px;
        margin-bottom: 0;
    }
    h3 {
        margin: 0;
        font-size: 1rem;
        float: left !important;
    }
}

.meal-date {
    display: flex;
    padding-top: 5px;
    max-width: 250px;
    font-size: 18px;
}

.moreMealDetails {
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    padding-top: 0;
    h4 {
        margin: 0;
        margin-right: 3%;
        font-size: 1rem;
    }
}

.mainDetails {
    padding-bottom: 30px;
    min-height: 400px;
    justify-content: space-between;
    border-bottom: 0.5px solid #d4d3d3;
}

[data-i="0"] {
    grid-area: a;
    height: 97.5% !important;
    width: 98% !important;
}

[data-i="1"] {
    grid-area: b;
}

[data-i="2"] {
    grid-area: c;
}

[data-i="3"] {
    grid-area: d;
}

[data-i="4"] {
    grid-area: e;
}

.locationMap {
    width: 100%;
    margin-bottom: 20px;
}

.reviewArea {
    width: 100%;
    border-top: 0.5px solid #d4d3d3;
}

.priceDetails {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    min-height: 300px;
    border: 0.5px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    h1 {
        font-size: 1.5rem;
        color: rgb(37, 37, 37);
        margin: 0;
    }
    .totalAmount {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }
    .total {
        display: flex;
        align-items: flex-start;
        border-bottom: 0.5px solid #d4d3d3;
        padding-bottom: 5px;
    }
    .totalPrice {
        color: rgb(37, 37, 37);
        font-size: 1.2rem;
    }
    h3 {
        margin: 0;
    }
    span {
        font-size: 1rem;
        color: rgb(113, 113, 113)
    }
    button.joinToMeal {
        width: 100%;
        max-width: 250px;
        background-color: #F56C6C;
        border: #F56C6C;
        margin: 0 auto;
        ;
        span {
            color: white;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
    .numGust {
        padding-bottom: 5px;
    }
    .guest-input {
        // padding-top: 5px;
        max-width: 250px;
        margin: 0 auto;
        .el-input__inner {
            font-size: 18px;
        }
    }
    .datetime {
        margin: 0 auto;
        max-width: 250px;
    }
    div {
        width: 100%;
    }
}

.orderBy {
    font-weight: bold;
}

.description {
    width: 70%;
    margin-right: 5%;
    p {
        text-align: left !important;
    }
    h3 {
        margin: 0;
        padding: 10px;
        width: 100%;
        display: flex;
        float: left;
        margin-top: 30px;
    }
    h5 {
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p {
        padding-right: 20px;
    }
}

.mealMenu {
    border-top: 0.5px solid #d4d3d3;
    width: 100%;
    h1 {
        font-family: 'Monoton', cursive !important;
        font-size: 2.3rem;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
}

.dish {
    .border {
        width: 50%;
        border-bottom: 1px solid rgb(235, 189, 197);
        margin: 30px auto;
    }
    .dish-details-con {
        width: 40%;
        h3 {
            text-align: left;
        }
    }
    h2 {
        display: flex;
        max-width: 30%;
        align-items: flex-start;
        margin: 5px auto !important;
    }
    .menu {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    h4 {
        margin: 0;
    }
    h3,
    h5 {
        display: flex;
        align-items: flex-start;
        margin: 5px 0;
    }
    .or {
        font-family: cursive;
    }
    div {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
    }
    .drinks {
        margin-bottom: 55px;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
    }
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// h3,
// h2 {
//     text-align: center;
// }
.fa-star {
    color: #FF385C;
}

.el-dropdown {
    vertical-align: top;
}

.el-dropdown+.el-dropdown {
    margin-left: 15px;
}

.el-icon-arrow-down {
    font-size: 12px;
}

p {
    padding: 10px;
}

.locationMap {
    margin-bottom: 20px;
}

.mapdetails {
    border: 0;
    border-top: 0.5px solid #d4d3d3;
    margin: 5px;
    float: left;
    width: 100%;
}

.imgtest {
    display: flex;
    width: 100%;
    height: 100%;
    // max-width: 500px;
    // max-height: 500px;
    // height: 100%;
}

.reviewArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    h2 {
        float: left;
    }
}

.hostReview {
    width: 100%;
    float: left;
    padding-left: 5px;
    display: flex;
    align-items: center;
    span {
        margin-left: 5px;
    }
}

.modalImage {
    padding: 0;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 90vw;
    height: 550px;
    z-index: 10;
}

.modalOrder {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    position: fixed;
    background-color: white;
    // display: flex;
    // flex-direction: column;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 320px;
    height: 250px;
    z-index: 10;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(221, 218, 218, 0.7);
    display: block;
    position: fixed;
    top: 0;
    z-index: 9;
    left: 0;
}

.whoIsGoing {
    width: 100%;
    padding-bottom: 20px;
    border-top: 0.5px solid #d4d3d3;
    // display: flex;
    // flex-direction: column;
    // h2 {
    //     display: flex;
    //     margin: 0;
    //     padding: 20px 0;
    //     justify-content: flex-start;
    // }
}

.ownerName {
    font-family: 'Caveat' !important;
    font-size: 1.2rem;
}

@media(max-width: 840px) {
    .detailsPage {
        width: 95%;
    }
    .imgs-gallery {
        width: 100%;
        height: 80vh;
        grid-template-rows: 60% 40%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "a a""b c";
    }
    .mealDetails {
        flex-direction: column;
        align-items: flex-start;
        h1,
        h3 {
            margin-bottom: 10px;
            text-align: left;
        }
    }
    .moreMealDetails {
        justify-content: space-between;
    }
    .description {
        width: 60%;
        p {
            text-align: left !important;
            padding: 0;
        }
    }
    .priceArea {
        width: 40%;
    }
    // .mainDetails{
    //     flex-direction: column;
    // }
}

@media(max-width: 650px) {
    .mainDetails {
        flex-direction: column;
    }
    .description {
        max-width: 95%;
        width: 95%;
        margin: auto;
        text-align: left;
    }
    .priceDetails {
        width: 80%;
        margin: 0 auto;
    }
    .dish {
        .border {
            width: 30%;
            margin: 30px auto;
        }
        .dish-details-con {
            width: 80%;
        }
        .menu {
            flex-direction: column;
            text-align: -webkit-center;
        }
    }
}

.order-details {
    div {
        padding: 5px;
        color: rgb(37, 37, 37);
    }
}

.paymentTotal {
    padding-top: 30px;
    h3 {
        font-size: 16px;
        padding-top: 10px;
    }
}

.order-num {
    color: rgb(15, 138, 15) !important;
}

.back-to-meals {
    padding: 10px 20px;
}

.orderNum {
    div {
        padding: 5px;
        color: rgb(37, 37, 37);
    }
}

@media(max-width: 500px) {
    .priceArea {
        width: 100%;
    }
    .mealMenu2 {
        width: 90%;
        div {
            .drinks {
                width: 100%;
                margin: 0;
            }
        }
    }
    .reviewArea .h2 {
        margin: 0 !important;
    }
    .guest-container {
        grid-template-columns: 50% 50% !important;
    }
    .whoIsGoing {
        // width: 100%;
        display: flex;
        flex-direction: column;
        .toggle-chat {
            display: flex;
            justify-content: center !important;
            // width: 100%;
        }
        div.review {
            // width: 100%;
            flex-direction: column;
        }
    }
    .reviewsSection {
        grid-template-columns: 100% !important;
        margin-left: 10px;
    }
}

@media(max-width: 700px) {
    .mealMenu2 {
        width: 90% !important;
        margin: 0 auto;
    }
    h3 {
        padding-left: 0 !important;
        margin-top: 20px !important;
    }
    h5 {
        padding-left: 0 !important;
    }
    .toggle-chat {
        width: 110px !important;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////@at-root
///////////////////////////////////////////////////////////////////////////////////////////////////
.mealMenu2 {
    width: 60vw;
    margin: 20px auto;
    h1 {
        font-family: 'Petit Formal Script', cursive;
        font-size: 2.3rem;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
}

.dish2 {
    display: flex;
    flex-direction: column;
    .border {
        width: 50%;
        border-bottom: 1px solid rgb(235, 189, 197);
        margin: 30px auto;
    }
    .dish-details-con {
        h3 {
            text-align: left;
        }
        display: grid;
        grid-template-columns: 1fr 5fr;
        width: 100%;
    }
    h2 {
        display: flex;
        max-width: 30%;
        align-items: flex-start;
        margin: 15px auto !important;
    }
    .menu {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    h4 {
        margin: 0;
        padding-right: 5px;
    }
    h3,
    h5 {
        display: flex;
        align-items: flex-start;
        margin: 15px 0;
    }
    div {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
    }
    .drinks {
        margin: 10px auto 50px;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 40%;
    }
    .xx {
        justify-items: center;
    }
}

.dish2>* {
    margin-bottom: 20px;
}

.menu2 {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.fa {
    color: #ff5a5f;
}

.chat {
    max-width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    // position: absolute;
    top: 50px;
    // right: 10%;
    // left: 10%;
    // margin: auto;
    z-index: 100;
    display: none;
    // position: fixed;
    flex-direction: column;
    justify-content: flex-end;
    // overflow: auto;
}

.chat ul {
    padding: 0 0 0 5px;
    list-style: none;
}

.chat ul li {
    margin: 5px 0;
}

.chat ul li:nth-child(odd) {
    background: rgb(221, 221, 221);
    color: black;
    padding: 10px 5px;
    border-radius: 5px;
}

.chat ul li:nth-child(even) {
    background: rgb(189, 189, 189);
    color: black;
    padding: 10px 5px;
    border-radius: 5px;
}

.display {
    display: flex;
}

.chat-input {
    border: 1px solid red;
    width: 91%;
    height: 115%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.chat-btn {
    background-color: #f56c6c;
    color: white;
    border: 0;
    font-size: 14px;
    margin-left: 20px;
    height: 30px;
    width: 65px;
    border-radius: 5px;
    outline: none;
}

.toggle-chat {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 20px 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f56c6c;
    color: white;
}

.close-chat {
    position: absolute;
    top: 7px;
    right: 7px;
    background: none;
    border: 0;
    font-size: 20px;
}