.edit-container {
  margin: 50px 0;

  span {
    display: flex;
    align-items: center;
  }
}

.inputs-container {
  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.edit-btn-container{
  width: 60%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.edit-img-input{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #606266;
  font-size: 0.9rem;
  border-radius: 4px;
}



// h2 {
//   text-align: center;
// }

input,
select {
  border: 0;
  border-bottom: 1px solid;
}

.edit-container {
  margin: 50px 0;
}

.inputs-container {
  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

h2,
h3 {
  text-align: center;
}

// span{
//   display: flex;
//   align-items: center;
// }

input,
select {
  border: 0;
  border-bottom: 1px solid;
}

.save-btn {
  margin: 10px auto;
  padding: 15px;
  border-radius: 100px;
  border: 0.5px solid grey;
  width: 120px;
  background-color: transparent;
}

.save-btn-container {
  width: 60%;
  margin: 30px auto;
  display: flex;
  align-items: center;

}