.main-filter-home {
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    background: #ffffffe6;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25%;
    right: 13%;
    margin: auto;
    max-width: 300px;
    height: 50vh;
    max-height: 350px;
    color: #484848;
    border-radius: 10px;
    h1 {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.5px;
        font-family: 'Poppins', sans-serif;
    }
    h4 {
        color: #bdb2b2;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    .where {
        color: #484848;
        font-size: 12px;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .search-city {
        padding-top: 5px;
    }
    input[type=text]:focus {
        border: 1px solid rgb(128, 118, 120);
    }
    .main-search {
        padding: 10px 20px;
        font-size: 17px;
        background-color: #FF385C;
        border-color: #FF385C;
        font-family: 'Poppins', sans-serif;
    }
}