
.sescrt{
    padding: 35px 43px 0px;
    p{
        padding: 0;
    }
}
.meal-app{
    h2{
        font-family: 'Comfortaa', cursive;
        font-size: 1.9rem;
    }
    p{
        font-family: 'Comfortaa', cursive;
        font-size: 1.2rem;
    }
}