.fa-thumbs-up {
    padding: 0 5px 0 20px;
    color: #c5b8bb;
    cursor: pointer;
}

.fa-check-circle {
    padding: 0 5px 0 20px;
    color: #c5b8bb;
    cursor: pointer;
    font-size: 25px;
}

.count {
    font-size: 20px;
}

.choose {
    width: 100%;
    text-align: left;
    color: #f56c6c;
    margin: 10px 0;
    margin-left: -119px;
}

@media (max-width: 700px) {
    .choose {
        margin-left: 0;
    }
}

.mealMenu2 h1 {
    margin: 0;
    font-family: "Tangerine", cursive !important;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 5px;
}