.meal-card {
    padding: 10px;
    // max-width: 400px;
    // height: 100%;
    // margin-bottom: 10px;
    p,
    h4 {
        margin: 0;
        line-height: 1.7;
        span {
            padding-left: 10px;
        }
    }
    p {
        span {
            font-weight: 600;
        }
    }
    .test {
        color: #222222;
        display: flex;
        justify-content: space-between;
        span {
            color: red;
            padding-left: 3px;
        }
    }
}

// .aspect-ratio(10, 80);
.img-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.routerToDetails {
    text-decoration: none;
    color: black;
}

.img-card {
    border-radius: 5px;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    h4 {
        color: rgb(118, 118, 118);
        font-size: 14px;
    }
}

.price {
    font-weight: bold;
    color: black;
    span {
        font-size: 14px;
        color: gray;
    }
}

.imgContainer {
    position: relative;
    // color: white;
}

.seats-left {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 8px;
    right: 10px;
    border-radius: 3px;
    font-weight: bold;
    padding: 4px;
    font-size: 14px;
}

.sold-out {
    color: rgb(199, 41, 41);
}