.main-review-container {
    flex-direction: column;
    width: 100%;
    .write-new-review {
        max-width: 110px;
        margin-bottom: 30px;
        span {
            display: flex;
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}

.reviews-section {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    float: left !important;
    padding-top: 10px;
    padding-left: 0.5%;
    padding-top: 0;
    padding-bottom: 40px;
    h4 {
        margin: 0;
        margin-right: 5px;
        span {
            font-size: 12px;
            padding-left: 5px;
        }
    }
    h5 {
        margin: 0;
        padding-top: 5px;
        width: 100%;
        float: left;
    }
}

.review {
    display: flex;
    margin: 15px;
    margin-left: 0;
    align-items: center;
    .revieimg {
        margin-right: 10px;
    }
}

.review-by {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    max-width: 90%;
}

.new-guest-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
    .new-review {
        width: 60%;
        margin-bottom: 20px;
    }
    .new-rate {
        width: 20%;
        margin-bottom: 20px;
    }
    .add-review {
        width: 15%;
    }
}

.guestReview {
    display: none;
}

.el-textarea__inner:focus {
    border: 1px solid rgb(128, 118, 120);
}

.el-textarea__inner {
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
}

.more-reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f56c6c;
    font-weight: bold;
}