.main-review-container {
    flex-direction: column;
    .write-new-review {
        width: 200px;
        margin-bottom: 30px;
    }
}

.reviewsSection {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    float: left !important;
    padding-top: 10px;
    padding-left: 0.5%;
    padding-top: 0;
    padding-bottom: 40px;
    h4 {
        margin: 0;
        margin-right: 5px;
        span {
            font-size: 12px;
            padding-left: 5px;
        }
    }
    h5 {
        margin: 0;
        padding-top: 5px;
        width: 100%;
        float: left;
    }
}

.review {
    display: flex;
    margin: 15px;
    margin-left: 0;
    align-items: center;
    .revieimg {
        margin-right: 10px;
    }
}

.reviewBy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    max-width: 90%;
}

.new-guest-review {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .new-review {
        width: 60%;
    }
    .new-rate {
        width: 20%;
    }
    .add-review {
        width: 15%;
    }
}

.guestReview {
    display: none;
}

input[type=textarea]:focus {
    border: 1px solid rgb(128, 118, 120);
}

.more-reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f56c6c;
    font-weight: bold;
}