.page-body {
    min-height: 85vh;
    p {
        text-align: center;
        margin: 0;
    }
    h2 {
        margin-bottom: 0;
    }
}


/* .active {
    display: block;
  } */

.active.register-container {
    display: block;
}