.active {
    display: block;
}

.sec-nav {
    width: 100% !important;
    // background-color: #e6e6e657;
}

.row-sec {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}


/* .logo-sec {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
  } */

.logo-black-sec {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 7px;
}


/* Main navi */

.main-nav-sec {
    display: flex;
    align-items: center;
    float: right;
    list-style: none;
    margin-top: 30px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}

.main-nav-sec li {
    display: inline-block;
    margin-left: 40px;
    color: #767676;
}

.main-nav-sec li a:link,
.main-nav-sec li a:visited {
    padding: 8px 0;
    color: #767676;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav-sec li a:hover,
.main-nav-sec li a:active {
    border-bottom: 2px solid #e67e22;
}


/* Mobile navi */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #767676;
}


/* Sticky navi */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

@media (max-width: 830px) {
    .main-nav-sec {
        flex-direction: column;
        height: 100vh;
        max-width: 400px;
        width: 50%;
        padding: 0;
        padding-top: 50px;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 1);
        border-left: 1px solid rgba(153, 153, 153, 0.5);
        transform: translate(100%, 0);
        transition: transform .6s;
        z-index: 100;
        margin: 0;
    }
    .openMenu+.main-nav-sec {
        transform: translate(0, 0);
    }
    .main-nav-sec li {
        margin-left: 0;
    }
    .main-nav-sec {
        color: black;
        .route-nav {
            display: block;
            text-align: center;
            padding: 8px 0;
            color: black !important;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            display: block;
            text-align: center;
            padding: 0 !important;
            color: black !important;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li {
            border-bottom: 1px solid rgba(153, 153, 153, 0.5);
            width: 100%;
            margin: 0;
            color: black;
        }
    }
    .main-nav-sec.route-nav:hover {
        background-color: rgba(204, 204, 204, 0.4);
    }
    .menu-btn {
        display: block;
    }
    .fa-bars {
        color: black;
        font-size: 2rem;
        display: flex;
        align-items: center;
        align-content: center;
        cursor: pointer;
    }
    .openMenu+.screen {
        visibility: visible;
        opacity: 0.5;
    }
    .row2{
        flex-direction: column;
    }
    .section-testimonials{
        h2{
            padding: 0 10px;
        }
    }
}