.userDetails {
    // max-width: 100vw;
    margin: 30px auto 100px;
    flex-direction: column;
    // width: 90%;
    span {
        padding-bottom: 10px;
    }
}

.userAccount {
    max-width: 100%;
    margin: 0 auto;
}

.mainUserDetails {
    max-width: 400px;
    margin: 15px 0;
}

.imgUser {
    margin: 0 auto;
}

.controlBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.events-profile-btn {
    margin-right: 10px;
}

.myMeal {
    margin-left: 30px;
    max-width: 380px;
    margin-bottom: 30px;
    h4 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.join-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    h2 {
        margin: 0;
    }
}

.err-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pricerange {
        margin: 30px auto;
    }
}

.userProfile {
    flex-direction: column;
    width: 30%;
    border-right: 0.5px solid #d4d3d3;
    h1 {
        margin: 20px auto;
        font-size: 1.8rem;
    }
}

.userMeals {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bookedMeals {
    margin: 20px;
    // max-width: 380px;
    display: flex;
    justify-content: flex-start;
    a {
        width: 24%;
        margin-right: 30px;
    }
}

.img-profile-list {
    width: 60%;
    margin-right: 30px;
}

.img-profile-list2 {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
}

.hrUser {
    border: 0.5px solid #8c8b8b;
}

.myguest {
    width: 90%;
    align-items: center;
    // .review {
    //     display: flex;
    //     justify-content: center;
    // }
}

.profile-details-sec {
    margin: 0 auto;
}

@media (max-width: 830px) {
    .userAccount {
        display: flex;
        flex-direction: column;
    }
    .userProfile {
        // flex-direction: row-reverse;
        width: 90vw;
        border-right: none;
        margin: 0 auto;
    }
    .userMeals {
        max-width: 90vw;
        margin: 0 auto;
    }
    .img-profile-list2 {
        width: 90px;
        min-height: 90px;
        max-height: 90px;
    }
    .myMeal {
        flex-direction: column;
        margin: 20px auto;
        .img-profile-list {
            width: 100%;
            margin-bottom: 10px;
        }
        .controlBtn {
            justify-content: space-between;
        }
    }
    .profile-details-sec {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 600px) {
    .profile-details-sec {
        flex-direction: column
    }
    .userMeals {
        width: 100%;
    }
}